body {
  margin: 0;
  min-height: 100vh;
  color: #202020;
  font-size: 14px;
  font-family: "Alexandria", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: repeating-linear-gradient(
    90deg,
    #2e2e2c,
    #2e2e2c 30px,
    #4e4e4b 30px,
    #515c66 30px,
    #515c66 60px
  );
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: #79848f;
  width: fit-content;
  width: 600px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, max-height 0.5s ease;
  cursor: pointer;
  white-space: nowrap;
  margin: auto;
  margin-top: 50px;
  border: 4px solid #252525;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a8a8a8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #252525;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.creatememe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.create-meme {
  display: inline-block;
  background-color: #79848f;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 50px;
  width: 200px;
  margin: 5px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border: 4px solid #252525;
  border-radius: 5px;
}

.uploadmeme:hover {
  transform: scale(1.05);
}

.meme-form {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #5a5a5a;
  width: 260px;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 4px solid #252525;
  border-radius: 5px;
}

.meme-form {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.meme-form.show {
  display: block;
  opacity: 1;
}

#img {
  display: inline-block;
  padding: 8px 16px;
}

.add-meme {
  display: inline-block;
  background-color: #79848f;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border: 4px solid #252525;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.display-img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.display-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a5a5a;
  width: 260px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-shadow: 4px 4px 10px #000000b7;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 4px solid #252525;
  border-radius: 5px;
}

.display-card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 15px #000000b7;
}

.filterbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterbtn {
  display: inline-block;
  background-color: #79848f;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 150px;
  margin: 5px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border: 4px solid #252525;
  border-radius: 5px;
}

.filterbtn:hover {
  transform: scale(1.05);
}

.learnmore {
  display: inline-block;
  background-color: #79848f;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px #00000034;
  padding: 5px;
  border: 4px solid #252525;
  border-radius: 5px;
}

.learnmore:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .display-card {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  .header {
    width: 90%;
    white-space: normal;
    word-wrap: break-word;
  }
}
